body {
    text-align: center;
    background-color: #000000;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* VIDEO */
.video-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

video {
    width: 90%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}


/* FORM */
#form-container {
    position: relative;
    z-index: 5;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin: 20px auto;
    color: white;
    width: 90%;
    max-width: 600px;
    overflow-y: auto;
}

/* POPUP */
#number-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 2px solid #ccc;
    z-index: 9999;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    overflow-y: auto;
}

.number-popup-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.number-green, .number-red, .number-black {
    user-select: none;
    border-radius: 50%;
    color: #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    margin: 5px;
    width: 2em;
    height: 2em;
}

.number-green { background: #228b22; }
.number-red { background: red; }
.number-black { background: #000; }

.number-green:hover { background: #5EA226; }
.number-red:hover { background: #FF8886; }
.number-black:hover { background: #444; }

.confirm {
    padding: 0.3em 1em;
    border-radius: 13%;
    color: #FFF;
    background-color: #4E895C;
    border: 0;
    cursor: pointer;
    margin: 1px;
    font-size: 1em;
}

.confirm:hover {
    background: #6AB186;
}

input::placeholder {
    font-size: 20px;
    color: #f5f5f5;
}

#copy-button {
    margin-top: 10px;
    padding: 10px 20px;
}
