body {
  text-align: center;
  background-color: #000000;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
